<div class="app-header">
  <div class="app-body">
    <%= link_to admin_root_path, class: 'my-apps-link' do %>
        My Apps
    <% end %>
    <i id="icon-right-chevron" class="ion-chevron-right"></i>
    <i class="ion-cube app-icon"></i>
    <%= @app.name %>
  </div>
</div>