/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* ==========================================================================
   GENERAL
   ========================================================================== */

$color-primary:                 #7761A8;
$color-secondary:               #BEACD3;
$color-header:                  #F7F8FB;
$color-icon:                    #BEACD3;
$color-text:                    #716981;
$color-alert:                   #E85959;
$color-notice:                  #9BD78A;
$color-border:                  #E7EBF3;
$color-border-nav-active:       #A996C0;
$color-border-nav-inactive:     #96A3B6;
$color-button-hover:            #FAF7FD;
$color-button-primary:          #784CAB;
$color-button-primary-hover:    #8554BC;
$color-button-secondary:        #8262A7;
$color-button-secondary-hover:  #A386C5;



.nav > li.dropdown.open {
  position: static;
}
.nav > li.dropdown.open .dropdown-menu {
  display:table; width: 100%; text-align: center; left:0; right:0;
}
.dropdown-menu>li {
  display: table-cell;
}


$font-primary: 'Open Sans', sans-serif;

* {
  font-size: 100%;
  font-family: $font-primary;
  color: $color-text;
}


h2 {
  color: $color-text;
}


a {
  color: $color-primary;
  text-decoration: none !important;
}

a:hover {
  color: lighten( $color-primary, 10% );
}

.float-right {
  float: right;
}

.alert {
  margin-bottom: 0;
  border-radius: 0;
  z-index: 100;
  position: fixed;        // display alert on top of nav
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border: 0;
  height: 50px;
  color: #ffffff;
  font-family: $font-primary;
}

.alert-danger {
  background-color: $color-alert;
}

.alert-success {
  background-color: $color-notice;
}

.error-message {
  color: $color-alert;
  padding-left: 10px;
}

.footer {
  height: 150px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


/* ==========================================================================
   NAVBAR
   ========================================================================== */


.navbar-default {
  border: 0;
  border-radius: 0;
  background-color: $color-primary;
  margin-bottom: 0;

  .navbar-nav > li > a {
    color: white;
    padding-right: 20px;
    font-family: $font-primary;
  }

  .navbar-nav > li > a:hover, .navbar-default a:active {
    font-weight: 600;
    color: white;
  }

  .navbar-toggle, .navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
    border: 0 !important;
    background-color: rgba(0,0,0,0.0);

    .icon-bar {
      background-color: white;
    }

  }
}






/* ==========================================================================
   SIGN UP / LOG IN
   ========================================================================== */


.devise-wrapper {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  color: #ffffff;
  background-color: $color-primary;

  a {
    color: #ffffff !important;
  }

  h2 {
    color: #ffffff;
  }

  .error-message {
    color: #ffffff;
  }
}

.sign-up-log-in {
  float: none;
  margin: 0 auto;
  margin-top: 50px;
  min-width: 380px;
  max-width: 380px;
  color: black;

  a {
    color: $color-text;
  }

  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 3px;
    color: white;
    background-color: $color-button-primary;
    font-family: $font-primary;
  }

  button, html input[type="button"], input[type="reset"], input[type="submit"]:hover {
    opacity: 0.8;
  }

  .forgot-password-link {
    float: right;
  }

  #login-sign-up-button {
    float: right;
    width: 100px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    line-height: 40px;
    background-color : transparent;
  }

  #login-sign-up-button:hover {
    background-color: lighten( $color-primary, 5% );
  }

  .dont-have-an-account {

    span {
      height: 40px;
      line-height: 40px;
      color: #ffffff;
    }
  }

  .unhappy {

    span {
      height: 40px;
      line-height: 40px;
    }
  }

  #cancel-account-button {
    float: right;
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid $color-primary;
    border-radius: 3px;
    line-height: 40px;
    color: $color-primary;
    background-color : transparent;
    font-family: $font-primary;
  }

  #cancel-account-button:hover {
    background-color: $color-button-hover;
  }
}

#remember-me-label {
  font-weight: normal;
  color: #ffffff;
}


/* ==========================================================================
   APPS
   ========================================================================== */


.apps-header {

  height: 60px;
  background-color: $color-header;
  font-family: $font-primary;

  .apps-body {
    height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
    line-height: 60px;

    .apps-body-title {
      width: 100%;
      text-align: center;
    }

    #new-app-button {
        margin-top: 12px;
        float: right;
        height: 35px;
        width: 75px;
        text-align: center;
        border-radius: 4px;
        line-height: 30px;
        background-color : transparent;
        border: 1px solid $color-primary;
        color: $color-primary;
        font-weight: bold;
        font-size: 13px;
    }

    #new-app-button:hover {
      background-color: $color-button-hover;
    }
  }
}


/* ==========================================================================
   APPS - LIST
   ========================================================================== */


.list-group {
  border-bottom: 1px solid $color-border;
  margin-bottom: 0;
}

.list-group:hover {
  background-color: $color-header;
}


.app-list {
  margin-left: 50px;
  margin-right: 50px;
  display: flex !important;
  font-size: 14px;
  height: 50px;
  font-family: $font-primary;

  i {
    align-self: center;
    color: $color-icon;
    font-size: 24px;
  }

  .app-name {
    padding-left: 10px;
    align-self: center;
    flex: 1;                    // this is causing the app url to float right
    flex-basis: 0%;
    color: $color-text;
  }

  .app-url {
    align-self: center;
    text-align: right;
    color: $color-text;
  }
}


/* ==========================================================================
   APPS - NEW
   ========================================================================== */


.app-form {
  margin-right: 20px;
  margin-left: 20px;

  .app-form-group {
    height: 100px;
    margin-top: 40px !important;
    border-bottom: 1px solid $color-border;

    .app-form-group-label {
      padding-left: 0;
      p {
        font-size: 12pt
      }
    }

    .app-form-group-input-section {
      padding-left: 0;
      padding-right: 0;

      .app-form-input {
        width: 65%;
      }

      .app-form-input:focus {
        border: 1px solid $color-primary;

      }
    }
  }
}

#new-app-button {
  margin-top: 40px;
  padding-left: 0;
  padding-right: 0;

  input[type=submit] {

    height: 40px;
    width: 65%;
    text-align: center;
    border-radius: 4px;
    line-height: 30px;
    background-color : $color-button-secondary;
    border: 1px solid $color-button-secondary;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;

  }

  input[type=submit]:hover {
    background-color: $color-button-secondary-hover;
  }
}


/* ==========================================================================
   APP - SHOW
   ========================================================================== */

.app-details {
  margin-left: 20px;
  margin-right: 20px;

  .installation {
    margin: 0 auto;
    max-width: 645px;

    pre {
      background-color: #F7F8FB;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 15px;
    }
  }
}

#icon-right-chevron {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.app-header {

  height: 60px;
  background-color: $color-header;
  font-family: $font-primary;

  .app-body {
    height: 60px;
    margin-left: 28px;
    margin-right: 50px;
    font-size: 16px;
    line-height: 60px;

    .my-apps-link {
      color: $color-primary;
    }

    .my-apps-link:hover {
      color: $color-primary;
    }

    .app-icon {
      color: $color-icon;
      font-size: 17px;
      padding-right: 3px;
    }
  }
}


.app-show-nav {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $color-border;

  .app-nav-item {
    height: 50px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    transform: translateX(-10px);
    width: 86px;
    text-align: center;
    line-height: 50px;
    font-family: $font-primary;
    color: $color-border-nav-inactive;
  }

  .app-nav-item:hover {
    border-bottom: 2px solid #e7ebf3;
  }

  .app-nav-item-active {
    color: $color-primary;
    border-bottom: 1px solid $color-border-nav-active;
  }

  .app-nav-item-active:hover {
    border-bottom: 2px solid $color-border-nav-active;
  }
}

.pie-chart {
  height: 400px;
  min-width: 310px;
}


/* ==========================================================================
 APP - SETTINGS
 ========================================================================== */

.delete-app-form {
margin-left: 20px;
margin-right: 20px;

#delete-app-button {
  margin-top: 40px;
  padding-left: 0 !important;
  padding-right: 0;

  form {
    width: 65%;

    input[type=submit] {
      height: 40px;
      width: 100%;
      text-align: center;
      border-radius: 4px;
      line-height: 30px;
      color: #ffffff;
      background-color: $color-alert;
      border: 1px solid $color-alert;
      font-weight: bold;
      font-size: 13px;
    }

    input[type=submit]:hover {
      opacity: 0.8;
    }
  }
}
}


/* ==========================================================================
 APP - USERS & EVENTS LISTS
 ========================================================================== */

.app-lists {
margin-left: 20px;
margin-right: 20px;
margin-top: 30px;

th {
  font-size: 11px;
  color: $color-primary;

  tr {
    border-bottom: 2px solid $color-border;
  }
}

tbody {

  tr {
    height: 50px;
    border-bottom: 1px solid $color-border;

    td {
      vertical-align: inherit;
    }

    .recent {
      color: #9BD78A;
    }
  }

  tr:hover {
    background-color: $color-header;
  }
}
}


/* ==========================================================================
 MEDIA QUERIES
 ========================================================================== */


@media (max-width: 767px) {

  .app-form-input,
  .button-delete-app,
  #new-app-button > input[type=submit],
  #delete-app-button > form {
    width: 100% !important;
  }

  .app-url, .app-lists-column-collapse {
    display: none;
  }

  .apps-body {
    margin-right: 15px !important;
  }

}

@media (max-width: 400px) {

  .pie-chart {
    height: 300px;
  }

}
